
@model IEnumerable<Workflow.DomainModels.Models.ViewModels.ServiceVm>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To NHS Health Service</p>
</div>
